@import "tailwindcss";

body {
  color: #ffffff;
  background: #ffffff
}

.bg-orange {
  background-color: #FB5E07;
}

.text-orange {
  color: #FB5E07;
}

.border-orange {
  border-color: #FB5E07;
}

@theme {
  --color-orange: #FB5E07; 
}